$red: #ef5350;
$black: #37474f;

html,
body {
  color: $black;
}

.input {
  &__group {
    margin-bottom: 2rem;
  }
  &__error {
    color: #e53935;
  }
  &.error {
    border-color: $red;
  }
  &:focus + label {
  }
}
*[type='submit'] {
  margin-top: 3rem;
  margin-left: auto;
  display: block;
}

.stream-list {
  &__item {
    &-left {
      a {
        color: $black;
      }
    }
    .row {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  &__item-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.btn {
  color: white;
}

.btn.red,
.btn-large.red {
  background-color: $red !important;
}

.btn-floating.btn-large {
  position: fixed;
  bottom: 4%;
  right: 2rem;
}

.heading,
h3{
  margin-bottom: 6rem;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(#eee, .6);
  top: 0;
  left: 0;
  z-index: 10;
  .modal {
    display: block;
    top: 10%;
  }
}